.has-float-label {
    width: 100%;
    position: relative;
    z-index: 23;
}

.has-float-label label {
    position: absolute;
    left: 0;
    top: 0;
    cursor: text;
    font-size: 75%;
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s;
    top: -.5em;
    left: 12px;
    z-index: 3;
    line-height: 1;
    padding: 0 1px 0px 0px;
    }

.has-float-label .form-control {
    box-shadow: none !important;
    border: 1px solid #dee2e6;
}

[data-bs-theme=dark] .has-float-label label,
.has-float-label>span {
    color: #dee2e6 !important;
    background-color: #212529;
}

[data-bs-theme=light] .has-float-label label,
.has-float-label>span {
    color: #212529 !important;
    background-color: #fff;
}

[data-bs-theme=dark] .has-float-label .form-control {
    border: 1px solid #495057;
}

.has-float-label .form-control::-webkit-input-placeholder {
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
    opacity: 0;
}

.has-float-label .form-control {
    padding-left: 30px !important;
}

.has-float-label .form-control:placeholder-shown:not(:focus)+label {
    opacity: .5;
    top: .30em;
        font-weight: normal;
    padding-left: 18px;
}

.input-group .has-float-label {
    display: table-cell;
}

.input-group .has-float-label .form-control {
    border-radius: 4px;
}

.input-group .has-float-label:not(:last-child) .form-control {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.input-group .has-float-label:not(:first-child) .form-control {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -1px;
}

*/ .has-float-label input:focus,
.has-float-label textarea:focus,
.has-float-label select:focus {
    border-color: #dee2e6;
    box-shadow: none;
    padding-left: 30px;
}

.has-float-label .form-control:placeholder-shown:not(:focus)+* {
    font-size: 100%;
    margin-top: 4px;
}

.has-float-label:last-child .form-control {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

/* /form input float label*/

.form-icon {
    position: absolute;
    top: 0px;
    /*right: 0;*/
    left: 0;
    z-index: 80;
    margin-top: 2px;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: auto;
}
.form-control-icon {
    position: absolute;
    top: 2px;
    /*right: 0;*/
    left: 0;
    z-index: 80;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: auto;
}

.form-icon-passwd {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 989;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: auto;
}

.form-icon-select {
    position: absolute;
    top: 0;
    margin-top: 2px;
    /*right: 0;*/
    left: 0;
    z-index: 80;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: auto;
}
/*.form-icon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 80;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
    margin-right: 5px;
}

*/

.form-icon-passwd {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 989;
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	pointer-events: auto;
}

.form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 80;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
    margin-right: 5px;
}

/** float label inputs **/


.spin-1x {
    --bs-spinner-width: 1rem;
    --bs-spinner-height: 1rem;
    --bs-spinner-border-width: 0.2em;
}

.icon-2x {
    font-size: 1.6em;
}

.spin-x {
    width: 1rem;
    height: 1rem;
    border-width: 0.1em;
}

.spin-1x {
    width: 1.2rem;
    height: 1.2rem;
    border-width: 0.1em;
}

.spin-2x {
    width: 2rem;
    height: 2rem;
    border-width: 0.1em;
}

.spin-3x {
    width: 3rem;
    height: 3rem;
    border-width: 0.1em;
}

.alert{
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.btn-default {
    color: #3F4254;
    border-color: #6c757d;
    background-color: #fff;
}

.btn-default:hover {
    color: #3F4254 !important;
        border-color: #e7e9f1;
    background-color: #e7e9f1 !important;
}

.btn-check:focus+.btn-default,
.btn-default:focus {
    box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.5);
}

.btn-check:checked+.btn-default,
.btn-check:active+.btn-default,
.btn-default:active,
.btn-default.active,
.btn-default.dropdown-toggle.show {
    color: #fff;
    color: #3F4254;
    /*background-color: #888;
	border-color: #6c757d;*/
    border-color: #e7e9f1;
    background-color: #e7e9f1;
}

.btn-check:checked+.btn-default:focus,
.btn-check:active+.btn-default:focus,
.btn-default:active:focus,
.btn-default.active:focus,
.btn-default.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.5);
}

.btn-default:disabled,
.btn-default.disabled {
    /*background-color: transparent;*/
    color: #3F4254;
    color: #3F4254;
}

.dropdown-menu {
    border: 0.1rem solid #B5B5C3 !important;
}

.bg-defult {
    background-color: #e9ecef !important;
        color: #444;
}

.bg-mdl-add {
    background-color: #0288D1 !important;
        color: #fff;
}

.bg-mdl-del {
    background-color: #A21A20 !important;
    color: #fff !important;
}

.bg-default {
    background-color: #e9ecef !important;
}

.bg-mdl-up {
    background-color: #146c43 !important;
        color: #fff;
}

.bg-tools {
    background-color: #2c3e50 !important;
}

.page-item.active .page-link {
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: #fff;
}

.page-item.active .page-link:hover {
    background-color: #0a58ca;
    border-color: #0a58ca;
    color: #fff;
}

.tbl-chk input[type="checkbox"] {
    display: none;
}

.tbl-chk tr:hover input[type="checkbox"] {
    display: block;
}

.tbl-chk input[type="checkbox"]:checked {
    display: block;
}

.row-link th.th-link:hover {
    cursor: pointer;
        color: #0069d9;
}

table th.th-sort:hover {
    cursor: pointer;
        color: #0069d9;
}

.bg-secondary {
    color: #444;
}

.text-primary {
    color: #0d6efd !important;
}

/*.input-control, .form-control, .form-select {
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.85rem;
    color: #212 !important;
}*/

.input-group-text {
    padding: 0.42rem
}

.badge-labeled {
    padding-top: 0;
        padding-bottom: 0;
        padding-right: 0.2rem;
}

.badge-labeled i {
    padding: 0.25em 0.3rem;
        cursor: pointer;
        position: relative;
        display: inline-block;
        right: -0.2em;
        background-color: #000000;
        background-color: rgba(0, 0, 0, 0.2);
        border-left: solid 1px rgba(255, 255, 255, .5);
        border-radius: 0 0.25rem 0.25rem 0;
}


/* image load imagex*/
/*for img actv*/
.box-img-art img,
.box-img-art:after,
.box-img-art:before {
    width: 100%;
    transition: all .3s ease 0s;
}

.box-img-art .icon li a {
    text-align: center;
}

.box-img-art:after,
.box-img-art:before {
    content: "";
}

.box-img-art {
    overflow: hidden;
}

.box-img-art .title {
    letter-spacing: 1px;
}

.box-img-art .icon,
.box-img-art .title {
    margin: 0;
    position: absolute;
}

.box-img-art .icon,
.box-img-art .title {
    margin: 0;
    position: absolute;
}

.box-img-art {
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
        position: relative;
        height: 120px;
}

.box-img-art img {
    height: auto;
        transform: scale(1) rotate(0);
}

.box-img-art:hover img {
    filter: sepia(30%);
        transform: scale(1.3) rotate(10deg);
}

.box-img-art .icon {
    padding: 2px 3px;
        list-style: none;
        border-radius: 0 0 0 5px;
        top: 0%;
        right: 0;
        z-index: 2;
        transition: all .3s ease .2s;
}

.box-img-art:hover .icon {
    top: 0px;
}

.box-img-art .icon li {
    display: block;
        margin: 5px 0;
}

@media (max-width:600px) {
    .box-img-art {
            height: 100px;
        }

}

@media (max-width:400px) {
    .box-img-art {
            height: 90px;
        }

}

@media (max-width:200px) {
    .box-img-art {
            height: 80px;
        }

}

/*load image imagex*/

.btn, .form-control{
    border: 1px solid #9fa6bd;
}


.form-control{
    border: 1px solid #ddd;
}


td .badge, .badge, .badge i{
    color: #fff;
}

td .badge i{
    color: #fff !important;
}

/*i {
    font-size: 1.32rem !important;
    padding-right: 4px;
}

.bi {
    vertical-align: -0.125em;
    fill: currentcolor;
}*/


td span span{
    color: #000 !important;
}


.tab-pane .card-title i{
    font-size: 1.75rem !important;
    color: #0d6efd !important;
}

.tab-pane .card-title h3{
    color: #0d6efd !important;
    font-size: 1.75rem;
}

.table tr td a {
    font-weight: bold;
}

.bg-secondary{
    color: #d6d6d6 !important;
}

.border-secondary{
    border-color: #d6d6d6 !important;
}



.mt-check-permit {
    margin-top: 0.38rem !important;
}

.btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon) {
    border: 0;   
}

.btn-link {
    border: 0 !important;
}

.btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon) {
    border: 1px solid #d6d6d6;
}

.btn-block {
    display: block;
        width: 100%;
}

.btn-block+.btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
    width: 100%;
}

.border-card-edit{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


input[type=date] {
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: block;
    width: 90%;
    background: #0000;
    position: absolute;
    transform: scale(12)
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
}

input[type="date"]:before {
    color: transparent;
    background: none;
    display: block;
    content: "";
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16"%3E%3Cpath d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/%3E%3Cpath d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/%3E%3C/svg%3E') center / contain no-repeat;
    width: 15px;
        height: 15px;
    position: absolute;
    top: 8px;
    right: 6px;
    color: #222;
}

input[type=time] {
    position: relative;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: block;
    width: 90%;
    background: #0000;
    position: absolute;
    transform: scale(12)
}

input[type="time"]::-webkit-calendar-picker-indicator {
    position: absolute;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
}

input[type="time"]:before {
    color: transparent;
    background: none;
    display: block;
    content: "";
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16"%3E%3Cpath d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/%3E%3Cpath d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/%3E/%3E%3C/svg%3E') center / contain no-repeat;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 11px;
    right: 14px;
    color: #222;
}
.small-box {
    border-radius: 0.25rem;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
    display: block;
    margin-bottom: 20px;
    position: relative;
}

.small-box>.inner {
    padding: 10px;
}

.small-box>.small-box-footer {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.8);
    display: block;
    padding: 3px 0;
    position: relative;
    /*text-align: center;*/
    text-decoration: none;
    z-index: 10;
}

.small-box>.small-box-footer:hover {
    background-color: rgba(0, 0, 0, 0.15);
    color: #fff;
}

.small-box h3 {
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0 0 10px;
    padding: 0;
    white-space: nowrap;
}

@media (min-width: 992px) {

    .col-xl-2 .small-box h3,
    .col-lg-2 .small-box h3,
    .col-md-2 .small-box h3 {
        font-size: 1.6rem;
    }

    .col-xl-3 .small-box h3,
    .col-lg-3 .small-box h3,
    .col-md-3 .small-box h3 {
        font-size: 1.6rem;
    }
}

@media (min-width: 1200px) {

    .col-xl-2 .small-box h3,
    .col-lg-2 .small-box h3,
    .col-md-2 .small-box h3 {
        font-size: 2.2rem;
    }

    .col-xl-3 .small-box h3,
    .col-lg-3 .small-box h3,
    .col-md-3 .small-box h3 {
        font-size: 2.2rem;
    }
}

.small-box p {
    font-size: 1rem;
}

.small-box p>small {
    color: #f8f9fa;
    display: block;
    font-size: .9rem;
    margin-top: 5px;
}

.small-box h3,
.small-box p {
    z-index: 5;
}

.small-box .icon {
    color: rgba(0, 0, 0, 0.15);
    z-index: 0;
}

.small-box .icon>i {
    font-size: 90px;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.small-box .icon>i.fa,
.small-box .icon>i.fas,
.small-box .icon>i.far,
.small-box .icon>i.fab,
.small-box .icon>i.fal,
.small-box .icon>i.fad,
.small-box .icon>i.ion {
    font-size: 70px;
    top: 20px;
}

.small-box .icon svg {
    font-size: 70px;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.small-box:hover {
    text-decoration: none;
}

.small-box:hover .icon>i,
.small-box:hover .icon>i.fa,
.small-box:hover .icon>i.fas,
.small-box:hover .icon>i.far,
.small-box:hover .icon>i.fab,
.small-box:hover .icon>i.fal,
.small-box:hover .icon>i.fad,
.small-box:hover .icon>i.ion {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.small-box:hover .icon>svg {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

@media (max-width: 767.98px) {
    .small-box {
        text-align: center;
    }

    .small-box .icon {
        display: none;
    }

    .small-box p {
        font-size: 12px;
    }
}

.card>.overlay,
.card>.loading-img,
.overlay-wrapper>.overlay,
.overlay-wrapper>.loading-img,
.info-box>.overlay,
.info-box>.loading-img,
.small-box>.overlay,
.small-box>.loading-img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.card .overlay,
.overlay-wrapper .overlay,
.info-box .overlay,
.small-box .overlay {
    border-radius: 0.25rem;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 50;
}

.card .overlay>.fa,
.card .overlay>.fas,
.card .overlay>.far,
.card .overlay>.fab,
.card .overlay>.fal,
.card .overlay>.fad,
.card .overlay>.svg-inline--fa,
.card .overlay>.ion,
.overlay-wrapper .overlay>.fa,
.overlay-wrapper .overlay>.fas,
.overlay-wrapper .overlay>.far,
.overlay-wrapper .overlay>.fab,
.overlay-wrapper .overlay>.fal,
.overlay-wrapper .overlay>.fad,
.overlay-wrapper .overlay>.svg-inline--fa,
.overlay-wrapper .overlay>.ion,
.info-box .overlay>.fa,
.info-box .overlay>.fas,
.info-box .overlay>.far,
.info-box .overlay>.fab,
.info-box .overlay>.fal,
.info-box .overlay>.fad,
.info-box .overlay>.svg-inline--fa,
.info-box .overlay>.ion,
.small-box .overlay>.fa,
.small-box .overlay>.fas,
.small-box .overlay>.far,
.small-box .overlay>.fab,
.small-box .overlay>.fal,
.small-box .overlay>.fad,
.small-box .overlay>.svg-inline--fa,
.small-box .overlay>.ion {
    color: #343a40;
}

.card .overlay.dark,
.overlay-wrapper .overlay.dark,
.info-box .overlay.dark,
.small-box .overlay.dark {
    background-color: rgba(0, 0, 0, 0.5);
}

.small-box .small-box-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 0;
    height: 70px;
    font-size: 70px;
    color: rgba(0, 0, 0, 0.15);
    transition: transform 0.3s linear;
}
.invalid-feedback {
    background: none !important;
    color: #dc3545 !important;
}

.has-float-label .is-invalid {
    border-color: #f1aeb5 !important;
}
.login-bg {
    background: url(../images/back.svg) no-repeat center center #505050;
    background-size: cover;
}
.form-button {
    top: 22px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    margin-top: 1px;
    /*left: 0;*/
    width: 34px;
    height: 34px;
    pointer-events: auto;
}
.icon-40x {
    font-size: 4em !important;
    vertical-align: -1px;
    line-height: 0;
}

.text-gray {
    color: #aaa;
}

.bg-found {
    background: #999;
}

table tr .slt-row:hover {
    cursor: pointer;
    color: #0069d9 !important;
}

/*for folders view*/
table td.filename .icon-file {
    display: inline-block;
    width: 32px;
    height: 32px;
    /*margin-left: 8px;
	margin-top: 9px;*/
    cursor: pointer;
    float: left;
    position: absolute;
    z-index: 4;
}

/* set the icon we want to show by default */

/* set the icon we want to only show on hover or focus to be hidden by default */
.toggle-icons .icon-hover {
    display: inherit;
        margin-top: -40px;
    opacity: 0;
}

/* hover states flip the opacity values and thus display our hover-only icon */
.toggle-icons:hover .icon-default,
.toggle-icons:focus .icon-default {
    opacity: 0;
}

.toggle-icons:hover .icon-hover,
.toggle-icons:focus .icon-hover {
    opacity: 1.0;
}

.title-folder {
    position: absolute;
    margin-top: -30px;
    margin-left: 50px;
}

.table thead {
    background-color: #EFF2F5 !important;
}

.w-1 {
    width: 1% !important;
}

.w-2 {
    width: 2% !important;
}

.w-3 {
    width: 3% !important;
}

.w-4 {
    width: 4% !important;
}

.w-5 {
    width: 5% !important;
}

.w-6 {
    width: 6% !important;
}

.w-7 {
    width: 7% !important;
}

.w-8 {
    width: 8% !important;
}

.w-9 {
    width: 9% !important;
}

.w-10 {
    width: 10% !important;
}

.w-11 {
    width: 11% !important;
}

.w-12 {
    width: 12% !important;
}

.w-13 {
    width: 13% !important;
}

.w-14 {
    width: 14% !important;
}

.w-15 {
    width: 15% !important;
}

.w-16 {
    width: 16% !important;
}

.w-17 {
    width: 17% !important;
}

.w-18 {
    width: 18% !important;
}

.w-19 {
    width: 19% !important;
}

.w-20 {
    width: 20% !important;
}

.w-21 {
    width: 21% !important;
}

.w-22 {
    width: 22% !important;
}

.w-23 {
    width: 23% !important;
}